-- Phase 1: Database Migration for Noun Builder Image System (Idempotent / Safe)

-- 1. Add new columns to track image processing and licensing metadata
ALTER TABLE public.noun_builder_nouns
ADD COLUMN IF NOT EXISTS image_status TEXT DEFAULT 'unprocessed' CHECK (image_status IN ('unprocessed', 'ready', 'missing', 'failed')),
ADD COLUMN IF NOT EXISTS image_source TEXT,
ADD COLUMN IF NOT EXISTS image_source_url TEXT,
ADD COLUMN IF NOT EXISTS image_license TEXT,
ADD COLUMN IF NOT EXISTS image_attribution TEXT,
ADD COLUMN IF NOT EXISTS image_fetched_at TIMESTAMP WITH TIME ZONE;

-- 2. Update existing rows to have the correct initial status
UPDATE public.noun_builder_nouns
SET image_status = 'ready'
WHERE image_url IS NOT NULL AND image_url != '';

UPDATE public.noun_builder_nouns
SET image_status = 'unprocessed'
WHERE (image_url IS NULL OR image_url = '') AND (image_status IS NULL OR image_status = '');

-- 3. Create the Supabase Storage Bucket for Noun Images (if it doesn't exist)
INSERT INTO storage.buckets (id, name, public)
VALUES ('noun-images', 'noun-images', true)
ON CONFLICT (id) DO NOTHING;

-- 4. Enable policies safely (idempotent)
DO \$\$ 
BEGIN
    IF NOT EXISTS (
        SELECT 1 FROM pg_policies WHERE tablename = 'objects' AND policyname = 'Public Access to Noun Images'
    ) THEN
        CREATE POLICY "Public Access to Noun Images"
        ON storage.objects FOR SELECT
        USING ( bucket_id = 'noun-images' );
    END IF;
    
    IF NOT EXISTS (
        SELECT 1 FROM pg_policies WHERE tablename = 'objects' AND policyname = 'Admin Insert to Noun Images'
    ) THEN
        CREATE POLICY "Admin Insert to Noun Images"
        ON storage.objects FOR INSERT TO authenticated WITH CHECK ( bucket_id = 'noun-images' );
    END IF;

    IF NOT EXISTS (
        SELECT 1 FROM pg_policies WHERE tablename = 'objects' AND policyname = 'Admin Update to Noun Images'
    ) THEN
        CREATE POLICY "Admin Update to Noun Images"
        ON storage.objects FOR UPDATE TO authenticated USING ( bucket_id = 'noun-images' );
    END IF;

    IF NOT EXISTS (
        SELECT 1 FROM pg_policies WHERE tablename = 'objects' AND policyname = 'Admin Delete to Noun Images'
    ) THEN
        CREATE POLICY "Admin Delete to Noun Images"
        ON storage.objects FOR DELETE TO authenticated USING ( bucket_id = 'noun-images' );
    END IF;
END
\$\$;
